/* Quizz CSS */

body {
    font-family: Open Sans;
}

h1 {
    text-align: center;
}

#title {
    text-decoration: underline;
}

#quiz {
    text-indent: 10px;
    display: none;
}

.button {
    border: 4px solid;
    border-radius: 5px;
    width: 40px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    float: right;
    background-color: rgb(138, 134, 134);
    color: black;
    margin: 0 2px 0 2px;
}

.button.active {
    background-color: rgb(149, 149, 156);
    color: #525252;
}

button {
    position: relative;
    float: right;
}

.button a {
    text-decoration: none;
    color: black;
}

#container {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
    padding: 0 25px 40px 10px;
    background-color: rgb(100, 98, 98);
    border: 4px solid rgb(74, 80, 82);
    border-radius: 5px;
    color: rgb(187, 180, 180);
    font-weight: bold;
    box-shadow: 5px 5px 5px #888;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#prev {
    display: none;
}

#start {
    display: none;
    width: 90px;
}